params {
    sample = "20-90317-1"
    library_type = "cdl"
    out_base = "s3://uwlm-personal/nkrumm/bam2fastq-pipeline"
}


profiles {
    uw_batch {
        workDir = 's3://uwlm-nextflow-data/workdir/bam2fastq-pipeline'
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
            errorStrategy = 'ignore'

            withLabel:bamutils{
                container = 'quay.io/biocontainers/bamutil:1.0.14--hba45d7a_4'
                cpus = 4
                memory = '8GB'
            }
            withLabel:finalize{
                container = "nkrumm/nextflow-demux:latest"
                cpus = 2
                memory = '2GB'
            }
 
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }
    local {
        process {
            withLabel:bamutils{
                container = 'quay.io/biocontainers/bamutil:1.0.14--h8b12597_5'
            }
            withLabel:finalize{
                container = "nkrumm/nextflow-demux:latest"
            }
 
        }
        docker {
            enabled = true
        }
    }
}